<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Full recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="recipe-container">
    <!-- Header with Ionic components -->
    <div class="recipe-header">
      <h1 class="recipe-title">{{ recipe.title }}</h1>
      <!-- Meta info -->
      <div class="recipe-meta">
        <div class="meta-item">
          <ion-grid>
            <ion-row>
              <ion-col>Ready in</ion-col>
              <ion-col>Difficulty</ion-col>
              <ion-col>Servings</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="text-italic">{{ recipe.totalTime }} min</ion-col>
              <ion-col class="text-italic">{{ recipe.difficulty }}</ion-col>
              <ion-col class="text-italic">{{ recipe.difficulty }}</ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
    <div class="recipe-content-area">
      <!-- Recipe Image -->
      <img
        alt="Recipe image"
        [src]="recipe.image ? recipe.image : 'https://ionicframework.com/docs/img/demos/card-media.png'"
      />

      <!-- Ingredients Section -->
      <div class="section">
        <h2 class="section-title">Ingredients</h2>
        <div class="ingredients-grid">
          <ion-card class="ingredient-card" *ngFor="let ingredient of recipe.ingredients">
            <ion-card-content>{{ ingredient }}</ion-card-content>
          </ion-card>
        </div>
      </div>

      <div class="section">
        <h2 class="section-title">Directions</h2>
        <ion-card class="directions-card">
          <ion-card-content>{{ recipe.description }}</ion-card-content>
        </ion-card>
      </div>

      <!-- Edit Button -->
       <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="full" class="create-recipe-button" (click)="onClick()">
              Edit
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" class="create-recipe-button" (click)="onClick()">
              Delete
            </ion-button>
          </ion-col>
        </ion-row>
       </ion-grid>
    </div>
  </div>
</ion-content>
