<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot = "start"> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>New recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input
        labelPlacement="stacked"
        formControlName="title">
      </ion-input>
    </ion-item>

    <ion-item >
      <ion-label>Difficulty</ion-label>
      <ion-range
        [min]="1"
        [max]="5"
        [step]="1"
        [snaps]="true"
        [pin]="true"
        color="primary"
        [value]="selectedDifficulty"
        (ionInput)="onDifficultyChange($event)"
        formControlName="difficulty">
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>Total time</ion-label>
      <ion-input
        labelPlacement="stacked"
        type="number"
        formControlName="totalTime">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Servings</ion-label>
      <ion-input
        labelPlacement="stacked"
        type="number"
        formControlName="servings">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Ingredients</ion-label>
      <ion-textarea
        labelPlacement="stacked"
        [autoGrow]="true"
        formControlName="ingredients">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Full recipe</ion-label>
      <ion-textarea
        labelPlacement="stacked"
        [autoGrow]="true"
        formControlName="description">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Upload images</ion-label>
      <input type="file" (change)="onFileChange($event)" multiple accept="image/*" #fileInput hidden>
      <ion-button class = "create-recipe-button" (click)="fileInput.click()">
        <ion-icon name="image-outline"></ion-icon>
        <ion-text>Select images</ion-text>
      </ion-button>
    </ion-item>

    <div *ngIf="images.length > 0" class="image-preview-container">
      <div *ngFor="let image of images" class="image-preview">
        <img [src]="image.url" />
        <ion-icon name="close-circle-outline" (click)="removeImage(image.file)"></ion-icon>
      </div>
    </div>

    <ion-button expand="block" class="create-recipe-button"
      expand="block" 
      type="submit" 
      [disabled]="!form.valid"
      style="margin-top: 20px;">
      Create recipe
    </ion-button>

  </form>
</ion-content>
