<ion-card (click)="openDetails()">
  <img 
    alt="Recipe image" 
    [src]="recipe.image ? recipe.image : 'https://ionicframework.com/docs/img/demos/card-media.png'" 
  />
  <ion-card-header>
    <ion-card-title>{{ recipe.title }}</ion-card-title>
    <ion-card-subtitle>{{ authorName }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>Total Time: {{ recipe.totalTime }} min</ion-col>
        <ion-col>Difficulty: {{ recipe.difficulty }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
