<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col size="10">{{ recipe.title }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <!-- Description -->
      <ion-row>
        <ion-col class="label-col">Description:</ion-col>
        <ion-col class="value-col">{{ recipe.description }}</ion-col>
      </ion-row>
      <hr />

      <!-- Author -->
      <ion-row>
        <ion-col class="label-col">Author:</ion-col>
        <ion-col class="value-col">{{ recipe.author }}</ion-col>
      </ion-row>
      <hr />

      <!-- Difficulty -->
      <ion-row>
        <ion-col class="label-col">Difficulty:</ion-col>
        <ion-col class="value-col">{{ recipe.difficulty }}</ion-col>
      </ion-row>
      <hr />

      <!-- Ingredients -->
      <ion-row>
        <ion-col class="label-col">Ingredients:</ion-col>
        <ion-col class="value-col">
          <ul>
            <li *ngFor="let ingredient of recipe.ingredients">
              {{ ingredient }}
            </li>
          </ul>
        </ion-col>
      </ion-row>
      <hr />

      <!-- Total Time -->
      <ion-row>
        <ion-col class="label-col">Total Time:</ion-col>
        <ion-col class="value-col">{{ recipe.totalTime }} min</ion-col>
      </ion-row>
      <hr />

      <!-- Servings -->
      <ion-row>
        <ion-col class="label-col">Servings:</ion-col>
        <ion-col class="value-col">{{ recipe.servings }}</ion-col>
      </ion-row>
    </ion-grid>

    <!-- Optional Buttons -->
    <ion-buttons
      *ngIf="myRecipes"
      style="display: flex; justify-content: center; gap: 150px"
    >
      <ion-button color="transparent" [attr.id]="'delete-' + recipe.id">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>

      <ion-alert
        [attr.trigger]="'delete-' + recipe.id"
        class="custom-alert"
        header="Are you sure you want to delete recipe?"
        [buttons]="alertButtons"
      ></ion-alert>

      <ion-button color="transparent" (click)="onClick()">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-card-content>
</ion-card>
