<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="text-align: center;">
          {{ cardTitle || ""}} 
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-list>
            <ng-container *ngFor="let field of fields">
              <ion-item>

                <ion-input
                  *ngIf="field.type !== 'textarea' && field.type !== 'password'"
                  [type]="field.type || 'text'"
                  [label]="field.label"
                  labelPlacement="stacked"
                  [placeholder]="field.placeholder || field.label"
                  [formControlName]="field.name">
                </ion-input>

                <ion-input
                  *ngIf="field.type === 'password'"
                  type="password"
                  [label]="field.label"
                  labelPlacement="stacked"
                  [placeholder]="field.placeholder || field.label"
                  [formControlName]="field.name">
                  <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                </ion-input>

                <ion-textarea
                  *ngIf="field.type === 'textarea'"
                  [label]="field.label"
                  labelPlacement="stacked"
                  [placeholder]="field.placeholder || field.label"
                  [formControlName]="field.name">
                </ion-textarea>
              </ion-item>

              <ion-text
                *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched"
                color="danger"
                style="margin-left: 16px; font-size: small;">
                This field is invalid.
              </ion-text>
            </ng-container>
          </ion-list>

          <br />

          <div class="center-content">
            <ion-buttons>
              <ion-button expand="block" type="submit">
                {{ submitLabel || 'Submit' }}
              </ion-button>
            </ion-buttons>
          </div>
          <ng-content></ng-content>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
